body{
	height:105%;
}

.loggedin{
	display:none;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 20px;
  background-color: #f5f5f5;
}

.title{
	font-weight:bold;
	margin:1%;
}

.state{
	font-weight:bold;
	font-size:18px;
	margin:1%;
}

.card{
	min-height:30px;
	margin:2%;
	background-color:grey;
	width:85%;
}

.cardContent{
	display:none;
	color:white;
	margin:2%;
	width:80%;
}

.stateTitle, .boardTitle{
	font-weight:bold;
	font-size:18px;
	margin:0.5%;
}

.board, .list{
	margin-bottom:1.5%;
	margin-left:2.5%;
	background-color:lightgrey;
	float:left;
	width:45%;
}

.members{
	min-height:30px;
	padding-bottom:35px;
}

.member{
	float:right;
	line-height: 30px;
	margin: 0 4px 4px 0;
}

.initials, .avatar{
	float:right;
	/*CSS Taken from Trello*/
	font-weight: 700;
	height: 30px;
	width:30px;
	text-align:center;
	overflow: hidden;
	margin-left:4px;
	background-color: #d6dadc;
	border-radius: 3px;
	color: #4d4d4d;
	height: 30px;
	
	overflow: hidden;
	position: relative;
	text-decoration: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	z-index: 0;
}