body{
	height:105%;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 20px;
  background-color: #f5f5f5;
}

.title{
	font-weight:bold;
	margin:1%;
	cursor:pointer;
}

.state{
	font-weight:bold;
	font-size:18px;
	margin:1%;
}

.card{
	min-height:30px;
	margin:2%;
	background-color:grey;
	width:85%;
	border-radius: 3px;
}

.cardContent{
	display:none;
	color:white;
	margin:2%;
	width:80%;
}

.stateTitle, .boardTitle{
	font-weight:bold;
	font-size:18px;
	margin:0.5%;
}

.board, .list{
	margin-bottom:1.5%;
	margin-left:2.5%;
	background-color:lightgrey;
	float:left;
	width:45%;
	border-radius: 3px;
}

.members{
	min-height:30px;
	padding-bottom:35px;
}

.member{
	float:right;
	font-weight:bold;
	line-height: 30px;
	margin: 0 4px 4px 0;
}

.initials, .avatar{
	float:right;
	/*CSS Taken from Trello*/
	font-weight: 700;
	height: 30px;
	width:30px;
	text-align:center;
	overflow: hidden;
	margin-left:4px;
	background-color: #d6dadc;
	border-radius: 3px;
	color: #4d4d4d;
	height: 30px;
}

.trelloLogo{
	margin-top:2px;
	width:25px;
	height:25px;
	margin-left:5px;
}

.loggedin{
	display:none;
}

#filter #uparams{
	/*display:none;*/
}

#filter #user, #filter #type{
	display:none;
	width:100%;
	cursor:pointer;
}

.check{
	margin-left:1%;
	float:left;
}

/*Star CSS*/
.star {
   margin-left:140px;
   margin-top:-45px;
   margin-bottom:-28px;
   position: relative;
   display: block;
   color: gold;
   width: 0px;
   height: 0px;
   border-right:  100px solid transparent;
   border-bottom: 70px  solid gold;
   border-left:   100px solid transparent;
   -moz-transform:    rotate(35deg) scale(0.1);
   -webkit-transform: rotate(35deg) scale(0.1);
   -ms-transform:     rotate(35deg) scale(0.1);
   -o-transform:      rotate(35deg) scale(0.1);
}
.star:before {
margin:0;
   border-bottom: 80px solid gold;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -45px;
   left: -65px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);

}
.star:after {
margin:0;
   position: absolute;
   display: block;
   color: gold;
   top: 3px;
   left: -105px;
   width: 0px;
   height: 0px;
   border-right: 100px solid transparent;
   border-bottom: 70px solid gold;
   border-left: 100px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}
/*Star End*/